// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 1024px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Custom devices
@mixin rwd($screen) {
  @media (min-width: $screen+"px") {
    @content;
  }
}

@for $i from 1 through 12 {
  .sm#{$i} {
    grid-column: span #{$i};
  }
}

@for $i from 1 through 12 {
  .md#{$i} {
    @include md {
      grid-column: span #{$i};
    }
  }
}

@for $i from 1 through 12 {
  .lg#{$i} {
    @include lg {
      grid-column: span #{$i};
    }
  }
}

@mixin default-text {
  font-family: "IBM Plex Mono", "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: 16px;
}

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}
